/* Botón volver arriba */
#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  display: none; /* oculto por defecto */
  transition: background 0.3s, transform 0.3s;
  z-index: 1100;
}

#btnTop:hover {
  background: #219150;
  transform: scale(1.1);
}



